<header class="header">
    {% if page.url == '/' %}
    <h1 class="header__title">
        <a class="header__link" href="/">Пепелсбей.net</a>
    </h1>
    {% else %}
    <p class="header__title">
        <a class="header__link" href="/"></a>
    </p>
    {% endif %}
</header>
