/* Header */

.header {
    grid-column: 1 / -1;
    padding: 20px 20px 16px;
}

.header__title {
    margin: 0;
    line-height: 1;
    font-weight: normal;
    font-size: 36px;
}

.header__link {
    display: inline-flex;
    outline: none;
    color: #402724;
    text-decoration: none;
}

.header__link::before {
    margin-left: -0.1em;
    margin-right: 0.1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    content: url(logo.svg);
}

.header__link:focus::before {
    box-shadow: 0 0 0 3px #91b4f5;
}
