/* Content */

.content {
    hyphens: auto;
}

/* Headings */

.content h2 {
    margin-top: 32px;
    margin-bottom: -8px;
    line-height: 1;
    font-weight: normal;
}

/* Margins */

.content > * {
    margin-top: 0;
    margin-bottom: 0;
}

.content > * + * {
    margin-top: 16px;
}

/* Links */

.content a {
    --content__link-color: hsla(0, 100%, 40%, 0.2);
    outline: none;
    border-radius: 0.2em;
    background-image: linear-gradient(
        to top,
        var(--content__link-color),
        var(--content__link-color) 0.08em,
        transparent 0.08em
    );
    background-position: left 0 bottom 0.15em;
    box-decoration-break: slice;
    color: hsl(0, 100%, 40%);
    text-decoration: none;
}

.content a:hover {
    --content__link-color: hsla(0, 100%, 40%, 0.7);
}

.content a:focus {
    box-shadow: 0 0 0 0.2em #91b4f5;
}

/* Code */

.content code {
    font-family: 'Consolas', sans-serif;
}

.content pre {
    max-width: 100%;
    overflow-x: hidden;
}

/* Images */

.content img {
    display: block;
    max-width: 100%;
}
